# Exports Database - Data Analysis

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
countries = pd.read_csv('../raw_data/countries_codes_and_coordinates.csv', encoding = 'unicode_escape')
countries.head()

          Country Alpha_2_code Alpha_3_code
0     Afghanistan           AF          AFG
1         Albania           AL          ALB
2         Algeria           DZ          DZA
3  American Samoa           AS          ASM
4         Andorra           AD          AND

In [3]:
EU_countries = pd.DataFrame.from_dict([{'Belgium': 'BE', 'Bulgaria': 'BG', 'Czechia': 'CZ', 'Denmark': 'DK', 'Germany': 'DE', 'Estonia': 'EE', 'Ireland': 'IE', 'Greece': 'EL',
                'Spain': 'ES', 'France': 'FR', 'Croatia': 'HR', 'Italy': 'IT', 'Cyprus': 'CY', 'Latvia': 'LV', 'Lithuania': 'LT', 'Luxembourg': 'LU', 
                'Hungary': 'HU', 'Malta': 'MT', 'Netherlands': 'NL', 'Austria': 'AT', 'Poland': 'PL', 'Portugal': 'PT', 'Romania': 'RO', 'Slovenia': 'SI',
                'Slovakia': 'SK', 'Finland': 'FI', 'Sweden': 'SE'}])
EU_countries = EU_countries.T.reset_index()
EU_countries.rename(columns={'index': 'EU_country', 0: 'Alpha_2_code'}, inplace=True)
EU_countries.set_index('Alpha_2_code', inplace=True)
EU_countries

               EU_country
Alpha_2_code
BE                Belgium
BG               Bulgaria
CZ                Czechia
DK                Denmark
DE                Germany
EE                Estonia
IE                Ireland
EL                 Greece
ES                  Spain
FR                 France
HR                Croatia
IT                  Italy
CY                 Cyprus
LV                 Latvia
LT              Lithuania
LU             Luxembourg
HU                Hungary
MT                  Malta
NL            Netherlands
AT                Austria
PL                 Poland
PT               Portugal
RO                Romania
SI               Slovenia
SK               Slovakia
FI                Finland
SE                 Sweden

In [4]:
temp = pd.read_csv('../raw_data/Exports_Cleaned.csv')
temp

,Unnamed: 0,freq,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,A,E7000,AD,GWH,Albania,False,AL,ALB,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,1,A,E7000,AD,GWH,Austria,True,AT,AUT,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,2,A,E7000,AD,GWH,Bosnia and Herzegovina,False,BA,BIH,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,3,A,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,4,A,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,14185,A,H8000,ZA,TJ,Slovakia,True,SK,SVK,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,14186,A,H8000,ZA,TJ,Turkey,False,TR,TUR,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,14187,A,H8000,ZA,TJ,Ukraine,False,UA,UKR,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,14188,A,H8000,ZA,TJ,United Kingdom,False,UK,GBR,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,14189,A,H8000,ZA,TJ,NaN,False,XK,NaN,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

# Remove uncessary values

In [5]:
temp.drop(columns=['freq', 'Unnamed: 0'], inplace=True)

In [6]:
exp = temp[temp['siec']=='E7000']

In [7]:
exports = exp[exp['EU?']==True]

In [8]:
exports['Partner_country'] = exports.index.map(countries['Country'])
exports

/tmp/ipykernel_11579/1973828990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exports['Partner_country'] = exports.index.map(countries['Country'])

,siec,partner,unit,Country,EU?,Alpha_2_code,Alpha_3_code,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_country
1,E7000,AD,GWH,Austria,True,AT,AUT,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Albania
3,E7000,AD,GWH,Belgium,True,BE,BEL,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,American Samoa
4,E7000,AD,GWH,Bulgaria,True,BG,BGR,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Andorra
5,E7000,AD,GWH,Cyprus,True,CY,CYP,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Angola
6,E7000,AD,GWH,Czech Republic,True,CZ,CZE,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,Anguilla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,E7000,ZA,GWH,Portugal,True,PT,PRT,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN
7086,E7000,ZA,GWH,Romania,True,RO,ROU,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN
7088,E7000,ZA,GWH,Sweden,True,SE,SWE,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN
7089,E7000,ZA,GWH,Slovenia,True,SI,SVN,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN
7090,E7000,ZA,GWH,Slovakia,True,SK,SVK,0.000,0.000,0.000,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,NaN

In [9]:
exports.drop(columns=['siec', 'EU?'], inplace=True)

/home/sinan/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [11]:
exports = exports[['partner', 'Partner_country', 'unit', 'Country', 'Alpha_2_code', 'Alpha_3_code',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020']]

In [20]:
with pd.option_context('display.max_rows', 10, 'display.max_columns', None):  # more options can be specified also
    display(exports)

,partner,Partner_country,unit,Country,Alpha_2_code,Alpha_3_code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,AD,Albania,GWH,Austria,AT,AUT,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,AD,American Samoa,GWH,Belgium,BE,BEL,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,AD,Andorra,GWH,Bulgaria,BG,BGR,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,AD,Angola,GWH,Cyprus,CY,CYP,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,AD,Anguilla,GWH,Czech Republic,CZ,CZE,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,ZA,NaN,GWH,Portugal,PT,PRT,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7086,ZA,NaN,GWH,Romania,RO,ROU,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7088,ZA,NaN,GWH,Sweden,SE,SWE,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7089,ZA,NaN,GWH,Slovenia,SI,SVN,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7090,ZA,NaN,GWH,Slovakia,SK,SVK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [33]:
years = ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020']
for year in years:
    exports[year] = pd.to_numeric(exports[year], errors='raise', downcast='float')
    
exports.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4455 entries, 1 to 7090
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partner          4428 non-null   object
 1   Partner_country  154 non-null    object
 2   unit             4455 non-null   object
 3   Country          4290 non-null   object
 4   Alpha_2_code     4455 non-null   object
 5   Alpha_3_code     4290 non-null   object
 6   1990             4455 non-null   float32
 7   1991             4455 non-null   float32
 8   1992             4455 non-null   float32
 9   1993             4455 non-null   float32
 10  1994             4455 non-null   float32
 11  1995             4455 non-null   float32
 12  1996             4455 non-null   float32
 13  1997             4455 non-null   float32
 14  1998             4455 non-null   float32
 15  1999             4455 non-null   float32
 16  2000             4455 non-null   float32
 17  2001             4455 non-null   float32
 18  2002             4455 non-null   float32
 19  2003             4455 non-null   float32
 20  2004             4455 non-null   float32
 21  2005             4455 non-null   float32
 22  2006             4455 non-null   float32
 23  2007             4455 non-null   float32
 24  2008             4455 non-null   float32
 25  2009             4455 non-null   float32
 26  2010             4455 non-null   float32
 27  2011             4455 non-null   float32
 28  2012             4455 non-null   float32
 29  2013             4455 non-null   float32
 30  2014             4455 non-null   float32
 31  2015             4455 non-null   float32
 32  2016             4455 non-null   float32
 33  2017             4455 non-null   float32
 34  2018             4455 non-null   float32
 35  2019             4455 non-null   float32
 36  2020             4455 non-null   float32
dtypes: float32(31), object(6)
memory usage: 783.1+ KB