# IMPORTS_FRANK

In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv('../raw_data/CountryCodes.csv', encoding = 'unicode_escape')
countries.dropna(inplace=True)
countries.head()

          Country Alpha_2_code Alpha_3_code  Numeric
0     Afghanistan           AF          AFG      4.0
1         Albania           AL          ALB      8.0
2         Algeria           DZ          DZA     12.0
3  American Samoa           AS          ASM     16.0
4         Andorra           AD          AND     20.0

In [3]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 248
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       247 non-null    object
 1   Alpha_2_code  247 non-null    object
 2   Alpha_3_code  247 non-null    object
 3   Numeric       247 non-null    float64
dtypes: float64(1), object(3)
memory usage: 9.6+ KB

Check Alpha 2 code values

In [4]:
countries[countries['Alpha_2_code'].isnull()==True]

Empty DataFrame
Columns: [Country, Alpha_2_code, Alpha_3_code, Numeric]
Index: []

## EU Countries Dictionary

In [5]:
EU_countries = pd.DataFrame.from_dict([{'Belgium': 'BE', 'Bulgaria': 'BG', 'Czechia': 'CZ', 'Denmark': 'DK', 'Germany': 'DE', 'Estonia': 'EE', 'Ireland': 'IE', 'Greece': 'EL',
                'Spain': 'ES', 'France': 'FR', 'Croatia': 'HR', 'Italy': 'IT', 'Cyprus': 'CY', 'Latvia': 'LV', 'Lithuania': 'LT', 'Luxembourg': 'LU', 
                'Hungary': 'HU', 'Malta': 'MT', 'Netherlands': 'NL', 'Austria': 'AT', 'Poland': 'PL', 'Portugal': 'PT', 'Romania': 'RO', 'Slovenia': 'SI',
                'Slovakia': 'SK', 'Finland': 'FI', 'Sweden': 'SE'}])
EU_countries = EU_countries.T.reset_index()
EU_countries.rename(columns={'index': 'EU_country', 0: 'Alpha_2_code'}, inplace=True)
EU_countries

     EU_country Alpha_2_code
0       Belgium           BE
1      Bulgaria           BG
2       Czechia           CZ
3       Denmark           DK
4       Germany           DE
5       Estonia           EE
6       Ireland           IE
7        Greece           EL
8         Spain           ES
9        France           FR
10      Croatia           HR
11        Italy           IT
12       Cyprus           CY
13       Latvia           LV
14    Lithuania           LT
15   Luxembourg           LU
16      Hungary           HU
17        Malta           MT
18  Netherlands           NL
19      Austria           AT
20       Poland           PL
21     Portugal           PT
22      Romania           RO
23     Slovenia           SI
24     Slovakia           SK
25      Finland           FI
26       Sweden           SE

## Imports by Country

Electric Imports by Partner Country

In [6]:
imports = pd.read_csv('../raw_data/ElecImportsByPartnerCountry.csv', encoding = 'unicode_escape')
imports.head()

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [7]:
imports['Alpha_2_code'].unique()

array(['AL', 'AT', 'BA', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EA19', 'EE',
       'EL', 'ES', 'EU27_2020', 'FI', 'FR', 'GE', 'HR', 'HU', 'IE', 'IS',
       'IT', 'LI', 'LT', 'LU', 'LV', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO',
       'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UA', 'UK', 'XK'],
      dtype=object)

In [8]:
imports_CZ = imports.query("Alpha_2_code == 'CZ'")

In [9]:
imports_CZ.query("partner == 'AT'")

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
436,A,E7000,AT,GWH,CZ,34000,221000,216000,201000,18000,...,0.000,0.000,0.000,265000.0,41000.0,136000,62478,112561,144762,378420
7531,A,H8000,AT,TJ,CZ,0.000,0.000,0.000,0.000,0.000,...,17000,17000,32000,27000.0,29000.0,33000,52503,51639,46427,47351

In [10]:
imports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14190 entries, 0 to 14189
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   freq          14190 non-null  object
 1   siec          14190 non-null  object
 2   partner       14104 non-null  object
 3   unit          14190 non-null  object
 4   Alpha_2_code  14190 non-null  object
 5   1990          14190 non-null  object
 6   1991          14190 non-null  object
 7   1992          14190 non-null  object
 8   1993          14190 non-null  object
 9   1994          14190 non-null  object
 10  1995          14190 non-null  object
 11  1996          14190 non-null  object
 12  1997          14190 non-null  object
 13  1998          14190 non-null  object
 14  1999          14190 non-null  object
 15  2000          14190 non-null  object
 16  2001          14190 non-null  object
 17  2002          14190 non-null  object
 18  2003          14190 non-null  object
 19  2004          14190 non-null  object
 20  2005          14190 non-null  object
 21  2006          14190 non-null  object
 22  2007          14190 non-null  object
 23  2008          14190 non-null  object
 24  2009          14190 non-null  object
 25  2010          14190 non-null  object
 26  2011          14190 non-null  object
 27  2012          14190 non-null  object
 28  2013          14190 non-null  object
 29  2014          14190 non-null  float64
 30  2015          14190 non-null  float64
 31  2016          14190 non-null  object
 32  2017          14190 non-null  object
 33  2018          14190 non-null  object
 34  2019          14190 non-null  object
 35  2020          14190 non-null  object
dtypes: float64(2), object(34)
memory usage: 3.9+ MB

In [11]:
# check Alpha 2 code
imports[imports['Alpha_2_code'].isnull()==True]

Empty DataFrame
Columns: [freq, siec, partner, unit, Alpha_2_code, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 36 columns]

In [12]:
# check unique values in 'siec' column
imports['siec'].unique()

array(['E7000', 'H8000'], dtype=object)

In [13]:
# merge imports df with countries df
imports = imports.merge(countries, on='Alpha_2_code', how='left')

# create new column 'EU?' and fill with True/False based on whether country is in EU dictionary
imports['EU?'] = imports['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
imports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code,Numeric,EU?
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Albania,ALB,8.0,False
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Austria,AUT,40.0,True
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.0,0.000,0.000,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,70.0,False
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Belgium,BEL,56.0,True
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Bulgaria,BGR,100.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Slovakia,SVK,703.0,True
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Turkey,TUR,792.0,False
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.000,Ukraine,UKR,804.0,False
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,:,NaN,NaN,NaN,False
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.0,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,False

In [14]:
# rename Alpha 2 code in countries df to 'Partner_country'
countries.rename({'Alpha_2_code': 'partner'}, axis=1, inplace=True)
countries

            Country partner Alpha_3_code  Numeric
0       Afghanistan      AF          AFG      4.0
1           Albania      AL          ALB      8.0
2           Algeria      DZ          DZA     12.0
3    American Samoa      AS          ASM     16.0
4           Andorra      AD          AND     20.0
..              ...     ...          ...      ...
244  Western Sahara      EH          ESH    732.0
245           Yemen      YE          YEM    887.0
246          Zambia      ZM          ZMB    894.0
247        Zimbabwe      ZW          ZWE    716.0
248  Ã
land Islands      AX          ALA    248.0

[247 rows x 4 columns]

In [15]:
# create new df EU_imports by merging imports and countries to get the name of the partner countries
EU_imports = imports.merge(countries, on='partner', how='left')
EU_imports

,freq,siec,partner,unit,Alpha_2_code,1990,1991,1992,1993,1994,...,2018,2019,2020,Country_x,Alpha_3_code_x,Numeric_x,EU?,Country_y,Alpha_3_code_y,Numeric_y
0,A,E7000,AD,GWH,AL,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Albania,ALB,8.0,False,Andorra,AND,20.0
1,A,E7000,AD,GWH,AT,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Austria,AUT,40.0,True,Andorra,AND,20.0
2,A,E7000,AD,GWH,BA,:,:,:,:,:,...,0.000,0.000,0.000,Bosnia and Herzegovina,BIH,70.0,False,Andorra,AND,20.0
3,A,E7000,AD,GWH,BE,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Belgium,BEL,56.0,True,Andorra,AND,20.0
4,A,E7000,AD,GWH,BG,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Bulgaria,BGR,100.0,True,Andorra,AND,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,H8000,ZA,TJ,SK,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Slovakia,SVK,703.0,True,South Africa,ZAF,710.0
14186,A,H8000,ZA,TJ,TR,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Turkey,TUR,792.0,False,South Africa,ZAF,710.0
14187,A,H8000,ZA,TJ,UA,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,Ukraine,UKR,804.0,False,South Africa,ZAF,710.0
14188,A,H8000,ZA,TJ,UK,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,:,NaN,NaN,NaN,False,South Africa,ZAF,710.0
14189,A,H8000,ZA,TJ,XK,:,:,:,:,:,...,0.000,0.000,0.000,NaN,NaN,NaN,False,South Africa,ZAF,710.0

In [16]:
# rearrange columns
EU_imports.columns

Index(['freq', 'siec', 'partner', 'unit', 'Alpha_2_code', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', 'Country_x', 'Alpha_3_code_x', 'Numeric_x', 'EU?',
       'Country_y', 'Alpha_3_code_y', 'Numeric_y'],
      dtype='object')

In [17]:
EU_imports = EU_imports[['Alpha_2_code', 'Country_x', 'EU?', 'partner', 'Country_y', 'siec', 'unit',
                         '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
                         '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
                         '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
                         '2017', '2018', '2019', '2020']]
EU_imports

,Alpha_2_code,Country_x,EU?,partner,Country_y,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AL,Albania,False,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,BA,Bosnia and Herzegovina,False,AD,Andorra,E7000,GWH,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,SK,Slovakia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,TR,Turkey,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,UA,Ukraine,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,UK,NaN,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,XK,NaN,False,ZA,South Africa,H8000,TJ,:,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [18]:
EU_imports.rename({'Country_x': 'Country', 'Country_y': 'Partner_country'}, axis=1, inplace=True)
EU_imports

/Users/frankpeluso/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AL,Albania,False,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,BA,Bosnia and Herzegovina,False,AD,Andorra,E7000,GWH,:,:,:,...,:,:,:,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,SK,Slovakia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14186,TR,Turkey,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14187,UA,Ukraine,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14188,UK,NaN,False,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,:
14189,XK,NaN,False,ZA,South Africa,H8000,TJ,:,:,:,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [19]:
# Filter out non-EU importing countries
EU_imports_filtered = EU_imports[EU_imports['EU?'] == True]
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14180,PT,Portugal,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14181,RO,Romania,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14183,SE,Sweden,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14184,SI,Slovenia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
14185,SK,Slovakia,True,ZA,South Africa,H8000,TJ,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [20]:
EU_imports_filtered = EU_imports_filtered[EU_imports_filtered['siec'] == 'E7000']
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7086,RO,Romania,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7088,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7089,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7090,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [21]:
EU_imports_filtered = EU_imports_filtered[EU_imports_filtered['unit'] == 'GWH']
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
5,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
6,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7086,RO,Romania,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7088,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7089,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
7090,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [22]:
EU_imports_filtered['Country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Germany',
       'Denmark', 'Estonia', 'Greece', 'Spain', 'Finland', 'France',
       'Croatia', 'Hungary', 'Ireland', 'Italy', 'Lithuania',
       'Luxembourg', 'Latvia', 'Malta', 'Netherlands (the)', 'Poland',
       'Portugal', 'Romania', 'Sweden', 'Slovenia', 'Slovakia'],
      dtype=object)

In [23]:
EU_imports_filtered['Partner_country'].unique()

array(['Andorra', 'United Arab Emirates (the)', nan, 'Albania', 'Armenia',
       'Angola', 'Argentina', 'Austria', 'Australia', 'Aruba',
       'Azerbaijan', 'Bosnia and Herzegovina', 'Barbados', 'Bangladesh',
       'Belgium', 'Bulgaria', 'Bahrain', 'Benin', 'Brunei Darussalam',
       'Bolivia (Plurinational State of)', 'Brazil', 'Bahamas (the)',
       'Belarus', 'Belize', 'Canada',
       'Congo (the Democratic Republic of the)', 'Congo (the)',
       'Switzerland', "CÃ´te d'Ivoire", 'Chile', 'Cameroon', 'China',
       'Colombia', 'Costa Rica', 'Cuba', 'Cabo Verde', 'CuraÃ§ao',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Denmark',
       'Dominican Republic (the)', 'Algeria', 'Ecuador', 'Estonia',
       'Egypt', 'Greece', 'Eritrea', 'Spain', 'Ethiopia', 'Finland',
       'France', 'Gabon', 'Georgia', 'Ghana', 'Gibraltar',
       'Equatorial Guinea', 'Guatemala', 'Guinea-Bissau', 'Hong Kong',
       'Honduras', 'Croatia', 'Hungary', 'Ireland', 'Israel', 'India',
       'Iraq', 'Iran (Islamic Republic of)', 'Iceland', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kenya', 'Kyrgyzstan', 'Cambodia',
       "Korea (the Democratic People's Republic of)",
       'Korea (the Republic of)', 'Kuwait', 'Kazakhstan',
       "Lao People's Democratic Republic (the)", 'Lebanon',
       'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lithuania', 'Luxembourg',
       'Latvia', 'Libya', 'Morocco', 'Moldova (the Republic of)',
       'Montenegro', 'Madagascar', 'Marshall Islands (the)',
       'Republic of North Macedonia', 'Myanmar', 'Mongolia', 'Mauritania',
       'Malta', 'Mauritius', 'Mexico', 'Malaysia', 'Mozambique',
       'New Caledonia', 'Niger (the)', 'Nigeria', 'Netherlands (the)',
       'Norway', 'Nepal', 'New Zealand', 'Oman', 'Panama', 'Peru',
       'Papua New Guinea', 'Philippines (the)', 'Pakistan', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Serbia',
       'Russian Federation (the)', 'Saudi Arabia', 'Sudan (the)',
       'Sweden', 'Singapore', 'Slovenia', 'Slovakia', 'Sierra Leone',
       'Senegal', 'South Sudan', 'Sao Tome and Principe',
       'Syrian Arab Republic', 'Togo', 'Thailand', 'Tajikistan',
       'Timor-Leste', 'Turkmenistan', 'Tunisia', 'Turkey',
       'Trinidad and Tobago', 'Taiwan (Province of China)', 'Tanzania',
       'Ukraine', 'Uganda', 'United States of America (the)', 'Uruguay',
       'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Virgin Islands (British)', 'Viet Nam', 'Yemen', 'South Africa'],
      dtype=object)

In [24]:
EU_imports_filtered.reset_index(drop=True, inplace=True)
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.000,0.000,0.000,...,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000

In [25]:
EU_imports_filtered.dtypes

Alpha_2_code        object
Country             object
EU?                   bool
partner             object
Partner_country     object
siec                object
unit                object
1990                object
1991                object
1992                object
1993                object
1994                object
1995                object
1996                object
1997                object
1998                object
1999                object
2000                object
2001                object
2002                object
2003                object
2004                object
2005                object
2006                object
2007                object
2008                object
2009                object
2010                object
2011                object
2012                object
2013                object
2014               float64
2015               float64
2016                object
2017                object
2018                object
2019                object
2020                object
dtype: object

In [26]:
EU_imports_filtered.columns

Index(['Alpha_2_code', 'Country', 'EU?', 'partner', 'Partner_country', 'siec',
       'unit', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [27]:
years_columns_type = {'1990': float, '1991': float, '1992': float, '1993': float, '1994': float,
                      '1995': float, '1996': float, '1997': float, '1998': float, '1999': float,
                      '2000': float, '2001': float, '2002': float, '2003': float, '2004': float,
                      '2005': float, '2006': float, '2007': float, '2008': float, '2009': float,
                      '2010': float, '2011': float, '2012': float, '2013': float, '2014': float,
                      '2015': float, '2016': float, '2017': float, '2018': float, '2019': float,
                      '2020': float}
EU_imports_filtered = EU_imports_filtered.astype(years_columns_type)
EU_imports_filtered.dtypes

Alpha_2_code        object
Country             object
EU?                   bool
partner             object
Partner_country     object
siec                object
unit                object
1990               float64
1991               float64
1992               float64
1993               float64
1994               float64
1995               float64
1996               float64
1997               float64
1998               float64
1999               float64
2000               float64
2001               float64
2002               float64
2003               float64
2004               float64
2005               float64
2006               float64
2007               float64
2008               float64
2009               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
2016               float64
2017               float64
2018               float64
2019               float64
2020               float64
dtype: object

In [28]:
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# group df by country
EU_imports_grouped = EU_imports_filtered
EU_imports_grouped

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
Group = EU_imports_grouped.groupby(['Country', 'Partner_country'])
Group.first()

                                           Alpha_2_code   EU? partner   siec  \
Country Partner_country
Austria Albania                                      AT  True      AL  E7000
        Algeria                                      AT  True      DZ  E7000
        Andorra                                      AT  True      AD  E7000
        Angola                                       AT  True      AO  E7000
        Argentina                                    AT  True      AR  E7000
...                                                 ...   ...     ...    ...
Sweden  Uzbekistan                                   SE  True      UZ  E7000
        Venezuela (Bolivarian Republic of)           SE  True      VE  E7000
        Viet Nam                                     SE  True      VN  E7000
        Virgin Islands (British)                     SE  True      VG  E7000
        Yemen                                        SE  True      YE  E7000

                                           unit  1990  1991  1992  1993  1994  \
Country Partner_country
Austria Albania                             GWH   0.0   0.0   0.0   0.0   0.0
        Algeria                             GWH   0.0   0.0   0.0   0.0   0.0
        Andorra                             GWH   0.0   0.0   0.0   0.0   0.0
        Angola                              GWH   0.0   0.0   0.0   0.0   0.0
        Argentina                           GWH   0.0   0.0   0.0   0.0   0.0
...                                         ...   ...   ...   ...   ...   ...
Sweden  Uzbekistan                          GWH   0.0   0.0   0.0   0.0   0.0
        Venezuela (Bolivarian Republic of)  GWH   0.0   0.0   0.0   0.0   0.0
        Viet Nam                            GWH   0.0   0.0   0.0   0.0   0.0
        Virgin Islands (British)            GWH   0.0   0.0   0.0   0.0   0.0
        Yemen                               GWH   0.0   0.0   0.0   0.0   0.0

                                            ...  2011  2012  2013  2014  2015  \
Country Partner_country                     ...
Austria Albania                             ...   0.0   0.0   0.0   0.0   0.0
        Algeria                             ...   0.0   0.0   0.0   0.0   0.0
        Andorra                             ...   0.0   0.0   0.0   0.0   0.0
        Angola                              ...   0.0   0.0   0.0   0.0   0.0
        Argentina                           ...   0.0   0.0   0.0   0.0   0.0
...                                         ...   ...   ...   ...   ...   ...
Sweden  Uzbekistan                          ...   0.0   0.0   0.0   0.0   0.0
        Venezuela (Bolivarian Republic of)  ...   0.0   0.0   0.0   0.0   0.0
        Viet Nam                            ...   0.0   0.0   0.0   0.0   0.0
        Virgin Islands (British)            ...   0.0   0.0   0.0   0.0   0.0
        Yemen                               ...   0.0   0.0   0.0   0.0   0.0

                                            2016  2017  2018  2019  2020
Country Partner_country
Austria Albania                              0.0   0.0   0.0   0.0   0.0
        Algeria                              0.0   0.0   0.0   0.0   0.0
        Andorra                              0.0   0.0   0.0   0.0   0.0
        Angola                               0.0   0.0   0.0   0.0   0.0
        Argentina                            0.0   0.0   0.0   0.0   0.0
...                                          ...   ...   ...   ...   ...
Sweden  Uzbekistan                           0.0   0.0   0.0   0.0   0.0
        Venezuela (Bolivarian Republic of)   0.0   0.0   0.0   0.0   0.0
        Viet Nam                             0.0   0.0   0.0   0.0   0.0
        Virgin Islands (British)             0.0   0.0   0.0   0.0   0.0
        Yemen                                0.0   0.0   0.0   0.0   0.0

[4131 rows x 36 columns]

In [31]:
# create new column 'Partner_EU?' and fill with True/False based on whether Partner_country is in EU dictionary
EU_imports_grouped['Partner_EU'] = EU_imports_grouped['partner'].isin(EU_countries['Alpha_2_code'])
EU_imports_grouped

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_EU
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False

In [32]:
EU_imports_grouped.columns

Index(['Alpha_2_code', 'Country', 'EU?', 'partner', 'Partner_country', 'siec',
       'unit', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', 'Partner_EU'],
      dtype='object')

In [33]:
EU_imports_grouped = EU_imports_grouped[['Alpha_2_code', 'Country', 'EU?', 'partner', 'Partner_country', 'Partner_EU',
                                         'siec', 'unit', '1990', '1991', '1992', '1993',
                                         '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
                                         '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                                         '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
                                         '2018', '2019', '2020']]
EU_imports_grouped

,Alpha_2_code,Country,EU?,partner,Partner_country,Partner_EU,siec,unit,1990,1991,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AT,Austria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
EU_imports_grouped.columns.get_loc('1990')

8

In [35]:
EU_imports_grouped.columns.get_loc('2020')

38

In [36]:
EU_imports_grouped.iloc[:,8:39].sum(axis=1)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4450    0.0
4451    0.0
4452    0.0
4453    0.0
4454    0.0
Length: 4455, dtype: float64

In [37]:
EU_imports_grouped['TOTAL'] = EU_imports_grouped.iloc[:,8:39].sum(axis=1)
EU_imports_grouped

/var/folders/w_/gltqg5356fv2085dww7dq0x40000gn/T/ipykernel_61830/443307255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EU_imports_grouped['TOTAL'] = EU_imports_grouped.iloc[:,8:39].sum(axis=1)

,Alpha_2_code,Country,EU?,partner,Partner_country,Partner_EU,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
0,AT,Austria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
EU_imports_grouped['TOTAL'].unique()

array([0.00000000e+00, 3.10000000e-02, 2.10000000e-02, 8.03900000e+06,
       2.08522100e+06, 1.84230000e+08, 1.60000000e+04, 4.71310000e+07,
       4.65410520e+07, 7.52000000e+05, 1.00000000e+03, 6.90432150e+07,
       5.50285000e+07, 1.00000000e+04, 7.63000000e+05, 7.07943860e+07,
       3.54028080e+07, 9.38091290e+07, 7.07850000e+07, 1.87409730e+07,
       6.89612000e+07, 9.00000000e+03, 8.21900000e+06, 1.31440660e+07,
       1.15655000e+08, 7.88273460e+07, 6.87449510e+08, 1.57200000e+06,
       1.07021200e+06, 2.24000000e+06, 2.02346037e+08, 2.01195000e+08,
       6.90135900e+06, 5.00000000e+04, 1.10000000e+04, 1.78018000e+08,
       3.10173075e+08, 3.27900000e+05, 5.87093110e+07, 7.67487870e+07,
       3.15275710e+07, 1.53673638e+08, 4.06634933e+08, 1.44189550e+08,
       8.00000000e+03, 2.01620000e+07, 1.67000000e+05, 1.24251000e+08,
       2.70238900e+06, 8.46280000e+07, 1.31100000e+07, 4.95340930e+07,
       6.49789000e+05, 1.82403240e+07, 4.64000000e+05, 5.94806560e+07,
       8.70000000e+04, 1.82764621e+08, 3.30600000e+07, 1.48900000e+06,
       4.83060000e+07, 2.07898800e+08, 4.33599000e+08, 2.00320864e+08,
       4.78833412e+08, 8.33272817e+06, 5.40170000e+07, 2.44000000e+06,
       8.17139220e+07, 1.93568230e+07, 3.25000000e+05, 5.80742000e+07,
       1.89988280e+07, 1.50600000e+06, 3.65607068e+05, 1.83300000e+07,
       1.95728600e+07, 5.18561300e+06, 2.39585700e+06, 2.63182820e+07,
       8.63741300e+06, 8.30000000e+05, 2.44210000e+07, 9.47800000e+06,
       1.22240000e+07, 8.85071000e+07, 2.15347000e+06, 5.15900000e+06,
       1.67306900e+06, 3.09468395e+05, 3.61230000e+07, 2.40000000e+05,
       3.00000000e+04, 6.77670000e+04, 1.76012200e+08, 4.45000000e+07,
       1.68427800e+06, 1.03500451e+08, 3.75800000e+06, 5.19548880e+07,
       2.24262000e+08, 7.20000000e-02, 1.80900000e+07, 1.45120000e+07,
       9.42550000e+07, 3.95100000e+06, 5.28840000e+07, 1.54460000e+07,
       2.21790000e+07, 2.42400000e+07, 2.87200000e+06, 1.93110000e+07,
       2.18272532e+08, 2.49900000e+07, 2.48130000e+06, 1.12620000e+07,
       6.58300000e+07, 1.15424839e+08, 4.95121220e+07, 1.32580000e+07,
       3.13932500e+06, 9.72800000e+06, 1.60864000e+07, 7.14900000e+06,
       1.24713150e+07, 7.00000000e+04, 1.81300000e+06, 2.14991000e+08,
       3.36098000e+07, 2.44663450e+07, 2.63000000e+05, 2.61210000e+07,
       1.23488278e+08, 2.19862000e+08, 1.66376000e+07, 1.25200000e+06,
       3.86434880e+07, 8.50561600e+06, 6.76370000e+07, 1.31125831e+08,
       1.19266090e+07, 1.90877000e+08, 5.06342000e+05, 4.66000000e+05,
       5.53891364e+08, 4.09274600e+08, 7.23578320e+07, 3.05505673e+08,
       1.25827400e+09, 3.05421794e+08, 5.10480000e+07, 1.65289000e+08,
       3.17899204e+08, 4.51721000e+08, 2.87022122e+08, 2.49710100e+08,
       3.71704000e+08, 2.80931180e+07, 1.36393096e+09, 2.10197000e+08,
       1.97409339e+08, 1.15773720e+08, 6.21732078e+08, 2.49563250e+08,
       8.75796290e+07, 3.89450000e+08, 1.59305994e+08, 2.74098000e+08,
       6.56733000e+05, 2.19430000e+07, 1.10849000e+08, 2.02870980e+07,
       5.39330100e+06, 9.43300000e+06, 6.14700000e+05, 2.68192820e+07,
       7.46173900e+06, 4.00000000e+03])

In [39]:
EU_imports_grouped.dtypes

Alpha_2_code        object
Country             object
EU?                   bool
partner             object
Partner_country     object
Partner_EU            bool
siec                object
unit                object
1990               float64
1991               float64
1992               float64
1993               float64
1994               float64
1995               float64
1996               float64
1997               float64
1998               float64
1999               float64
2000               float64
2001               float64
2002               float64
2003               float64
2004               float64
2005               float64
2006               float64
2007               float64
2008               float64
2009               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
2016               float64
2017               float64
2018               float64
2019               float64
2020               float64
TOTAL              float64
dtype: object

In [40]:
EU_imports_filtered = EU_imports_filtered[EU_imports_filtered['unit'] == 'GWH']
EU_imports_filtered

,Alpha_2_code,Country,EU?,partner,Partner_country,siec,unit,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Partner_EU
0,AT,Austria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,BE,Belgium,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,BG,Bulgaria,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
3,CY,Cyprus,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4,CZ,Czechia,True,AD,Andorra,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4451,RO,Romania,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4452,SE,Sweden,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4453,SI,Slovenia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4454,SK,Slovakia,True,ZA,South Africa,E7000,GWH,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False

In [41]:
EU_imports_grouped['Partner_EU'].unique()

array([False,  True])

In [42]:
EU_imports_grouped_DE = EU_imports_grouped.query("Country == 'Germany'")
EU_imports_grouped_DE

,Alpha_2_code,Country,EU?,partner,Partner_country,Partner_EU,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
5,DE,Germany,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,DE,Germany,True,AE,United Arab Emirates (the),False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,DE,Germany,True,AFR_OTH,NaN,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,DE,Germany,True,AL,Albania,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113,DE,Germany,True,AM,Armenia,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,DE,Germany,True,VG,Virgin Islands (British),False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4352,DE,Germany,True,VN,Viet Nam,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4379,DE,Germany,True,XK,NaN,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4406,DE,Germany,True,YE,Yemen,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4433,DE,Germany,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
EU_imports_grouped_DE = EU_imports_grouped_DE.query("Partner_country == 'Denmark'")
EU_imports_grouped_DE

,Alpha_2_code,Country,EU?,partner,Partner_country,Partner_EU,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
1193,DE,Germany,True,DK,Denmark,True,E7000,GWH,4721000.0,4029000.0,...,8834000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124251000.0

In [44]:
# remove NaN in Partner_country
EU_imports_grouped

,Alpha_2_code,Country,EU?,partner,Partner_country,Partner_EU,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
0,AT,Austria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
EU_imports_cleaned = EU_imports_grouped.dropna()
EU_imports_cleaned

,Alpha_2_code,Country,EU?,partner,Partner_country,Partner_EU,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
0,AT,Austria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BE,Belgium,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BG,Bulgaria,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CY,Cyprus,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CZ,Czechia,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,PT,Portugal,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4451,RO,Romania,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,SE,Sweden,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4453,SI,Slovenia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4454,SK,Slovakia,True,ZA,South Africa,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
EU_imports_cleaned = EU_imports_cleaned[EU_imports_cleaned['TOTAL']!=0]
EU_imports_cleaned

,Alpha_2_code,Country,EU?,partner,Partner_country,Partner_EU,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
9,ES,Spain,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.015,0.016,3.100000e-02
11,FR,France,True,AD,Andorra,False,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.021,2.100000e-02
89,EL,Greece,True,AL,Albania,False,E7000,GWH,165000.0,416000.0,...,17000.0,1380000.0,105000.0,332000.0,822000.0,80000.0,1062000.0,475000.000,622000.000,8.039000e+06
274,CZ,Czechia,True,AT,Austria,True,E7000,GWH,34000.0,221000.0,...,0.0,0.0,265000.0,41000.0,136000.0,62478.0,112561.0,144762.000,378420.000,2.085221e+06
275,DE,Germany,True,AT,Austria,True,E7000,GWH,4092000.0,4367000.0,...,8221000.0,8842000.0,7144000.0,7071000.0,5979000.0,4008000.0,4793000.0,4876000.000,6101000.000,1.842300e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4031,EL,Greece,True,TR,Turkey,False,E7000,GWH,0.0,0.0,...,1703000.0,52000.0,1907000.0,2814000.0,1444000.0,3198000.0,2907000.0,2664000.000,1839000.000,2.194300e+07
4144,HU,Hungary,True,UA,Ukraine,False,E7000,GWH,12160000.0,6605000.0,...,4014000.0,4836000.0,5614000.0,5550000.0,4412000.0,4563000.0,5054000.0,4014000.000,2484000.000,1.108490e+08
4152,PL,Poland,True,UA,Ukraine,False,E7000,GWH,0.0,0.0,...,1005000.0,1029000.0,686000.0,66000.0,957000.0,895000.0,1410155.0,1376820.000,1484123.000,2.028710e+07
4154,RO,Romania,True,UA,Ukraine,False,E7000,GWH,0.0,0.0,...,524000.0,64000.0,122000.0,172000.0,29000.0,473077.0,73315.0,501061.000,583848.000,5.393301e+06
4157,SK,Slovakia,True,UA,Ukraine,False,E7000,GWH,0.0,0.0,...,56000.0,173000.0,62000.0,64000.0,64000.0,9000.0,170000.0,30000.000,93000.000,9.433000e+06

In [75]:
EU_imports_pivot = EU_imports_cleaned.groupby(['Country', 'Partner_EU', 'Partner_country'], as_index=False).first()
EU_imports_pivot

,Country,Partner_EU,Partner_country,Alpha_2_code,EU?,partner,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
0,Austria,False,Switzerland,AT,True,CH,E7000,GWH,76000.0,494000.0,...,127149.0,254164.0,547904.0,269870.0,391281.0,463061.0,1200032.0,1610522.0,1734078.0,1.314407e+07
1,Austria,True,Czechia,AT,True,CZ,E7000,GWH,2975000.0,2910000.0,...,10308122.0,10508306.0,11952611.0,12340895.0,10255121.0,11005785.0,10864000.0,9431534.0,8687133.0,2.023460e+08
2,Austria,True,Germany,AT,True,DE,E7000,GWH,3559000.0,4548000.0,...,12525856.0,12382059.0,13142500.0,16155647.0,14854492.0,17509117.0,14998000.0,14796716.0,13778283.0,3.101731e+08
3,Austria,True,Hungary,AT,True,HU,E7000,GWH,212000.0,348000.0,...,334605.0,1013631.0,547007.0,525491.0,431724.0,134420.0,591000.0,38869.0,101816.0,1.935682e+07
4,Austria,True,Italy,AT,True,IT,E7000,GWH,0.0,0.0,...,23429.0,20186.0,27493.0,39707.0,67687.0,120412.0,25000.0,1874.0,9776.0,3.656071e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Sweden,True,Denmark,SE,True,DK,E7000,GWH,219000.0,815000.0,...,1316000.0,3806000.0,3153000.0,1907000.0,4015000.0,2203000.0,2795000.0,2805000.0,1648000.0,8.462800e+07
134,Sweden,True,Finland,SE,True,FI,E7000,GWH,360000.0,662000.0,...,23000.0,204000.0,0.0,2000.0,60000.0,88000.0,179000.0,50000.0,1000.0,4.830600e+07
135,Sweden,True,Germany,SE,True,DE,E7000,GWH,0.0,0.0,...,259000.0,998000.0,736000.0,143000.0,798000.0,251000.0,452000.0,564000.0,386000.0,2.016200e+07
136,Sweden,True,Lithuania,SE,True,LT,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,121000.0,113000.0,218000.0,283000.0,95000.0,8.300000e+05
137,Sweden,True,Poland,SE,True,PL,E7000,GWH,0.0,0.0,...,129000.0,762000.0,107000.0,20000.0,175000.0,150000.0,375000.0,188000.0,12000.0,1.126200e+07

In [76]:
EU_imports_pivot[EU_imports_pivot['Partner_EU']==False]

,Country,Partner_EU,Partner_country,Alpha_2_code,EU?,partner,siec,unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
0,Austria,False,Switzerland,AT,True,CH,E7000,GWH,76000.0,494000.0,...,127149.0,254164.0,547904.0,269870.0,391281.0,463061.0,1.200032e+06,1.610522e+06,1.734078e+06,1.314407e+07
10,Bulgaria,False,Republic of North Macedonia,BG,True,MK,E7000,GWH,0.0,0.0,...,0.0,9000.0,0.0,2000.0,2000.0,2200.0,3.950000e-01,3.026000e+03,6.242000e+03,3.094684e+05
11,Bulgaria,False,Serbia,BG,True,RS,E7000,GWH,0.0,0.0,...,15000.0,427000.0,86000.0,113000.0,226000.0,9491.0,3.852100e+04,1.496090e+05,2.427040e+05,3.139325e+06
12,Bulgaria,False,Turkey,BG,True,TR,E7000,GWH,0.0,0.0,...,1000.0,0.0,0.0,2000.0,3000.0,101832.0,9.311100e+04,1.214320e+05,3.253580e+05,6.567330e+05
15,Croatia,False,Bosnia and Herzegovina,HR,True,BA,E7000,GWH,0.0,0.0,...,1937000.0,4200000.0,2153000.0,4100000.0,4658000.0,2910100.0,5.963500e+06,2.768200e+06,1.881700e+06,5.502850e+07
16,Croatia,False,Serbia,HR,True,RS,E7000,GWH,0.0,0.0,...,525000.0,1562000.0,726000.0,1497000.0,1418000.0,830100.0,1.799000e+06,4.170000e+05,4.023000e+05,1.608640e+07
23,Denmark,False,Norway,DK,True,NO,E7000,GWH,3958000.0,1198000.0,...,5455000.0,2553000.0,4120000.0,6570759.0,6807449.0,5430795.0,5.034756e+06,3.383878e+06,8.128814e+06,1.035005e+08
27,Estonia,False,Russian Federation (the),EE,True,RU,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.813000e+06
30,Finland,False,Norway,FI,True,NO,E7000,GWH,125000.0,86000.0,...,78000.0,46000.0,55000.0,147000.0,199000.0,287000.0,1.900000e+05,2.440000e+05,3.050000e+05,3.758000e+06
31,Finland,False,Russian Federation (the),FI,True,RU,E7000,GWH,4531000.0,5098000.0,...,4403000.0,4713000.0,3385000.0,3926000.0,5858000.0,5792000.0,7.850000e+06,7.595000e+06,2.854000e+06,2.149910e+08
34,France,False,Andorra,FR,True,AD,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,2.100000e-02,2.100000e-02
35,France,False,Switzerland,FR,True,CH,E7000,GWH,495000.0,637000.0,...,3401000.0,3464000.0,2961000.0,4403000.0,5306000.0,6400180.0,4.159115e+06,4.581372e+06,3.578679e+06,7.882735e+07
40,Germany,False,Switzerland,DE,True,CH,E7000,GWH,5698000.0,6436000.0,...,3771000.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.156550e+08
49,Greece,False,Albania,EL,True,AL,E7000,GWH,165000.0,416000.0,...,17000.0,1380000.0,105000.0,332000.0,822000.0,80000.0,1.062000e+06,4.750000e+05,6.220000e+05,8.039000e+06
50,Greece,False,Republic of North Macedonia,EL,True,MK,E7000,GWH,0.0,0.0,...,1604000.0,1094000.0,2630000.0,2720000.0,3011000.0,1718000.0,1.852000e+06,2.727000e+06,2.861000e+06,3.612300e+07
51,Greece,False,Serbia,EL,True,RS,E7000,GWH,829000.0,1082000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,9.728000e+06
52,Greece,False,Turkey,EL,True,TR,E7000,GWH,0.0,0.0,...,1703000.0,52000.0,1907000.0,2814000.0,1444000.0,3198000.0,2.907000e+06,2.664000e+06,1.839000e+06,2.194300e+07
57,Hungary,False,Serbia,HU,True,RS,E7000,GWH,62000.0,157000.0,...,78000.0,950000.0,212000.0,519000.0,898000.0,306000.0,1.226000e+06,4.960000e+05,5.080000e+05,7.149000e+06
58,Hungary,False,Ukraine,HU,True,UA,E7000,GWH,12160000.0,6605000.0,...,4014000.0,4836000.0,5614000.0,5550000.0,4412000.0,4563000.0,5.054000e+06,4.014000e+06,2.484000e+06,1.108490e+08
63,Italy,False,Montenegro,IT,True,ME,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,3.722200e+04,1.635847e+06,1.673069e+06
64,Italy,False,Switzerland,IT,True,CH,E7000,GWH,17085000.0,15833000.0,...,25297000.0,23341000.0,24414000.0,26180000.0,20977000.0,21592196.0,2.254028e+07,2.219421e+07,1.895582e+07,6.874495e+08
70,Latvia,False,Belarus,LV,True,BY,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+03
71,Latvia,False,Russian Federation (the),LV,True,RU,E7000,GWH,0.0,0.0,...,1280000.0,1382000.0,1290000.0,1325000.0,1106000.0,954789.0,1.203202e+06,1.095463e+06,7.748910e+05,2.446634e+07
74,Lithuania,False,Belarus,LT,True,BY,E7000,GWH,533000.0,338000.0,...,2229000.0,2335000.0,3357000.0,2456000.0,1880000.0,1620800.0,1.940300e+06,3.189600e+06,2.472500e+06,6.896120e+07
75,Lithuania,False,Russian Federation (the),LT,True,RU,E7000,GWH,881000.0,1026000.0,...,2602000.0,2112000.0,2147000.0,2000000.0,2504000.0,2816100.0,3.097000e+06,2.781700e+06,2.214000e+06,3.360980e+07
83,Netherlands (the),False,Norway,NL,True,NO,E7000,GWH,0.0,0.0,...,5645000.0,4172000.0,5463000.0,5768428.0,4196992.0,4980789.0,3.876972e+06,2.634024e+06,4.620683e+06,5.195489e+07
84,Netherlands (the),False,Switzerland,NL,True,CH,E7000,GWH,0.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.572000e+06
93,Poland,False,Belarus,PL,True,BY,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,8.219000e+06
94,Poland,False,Ukraine,PL,True,UA,E7000,GWH,0.0,0.0,...,1005000.0,1029000.0,686000.0,66000.0,957000.0,895000.0,1.410155e+06,1.376820e+06,1.484123e+06,2.028710e+07
101,Romania,False,Bosnia and Herzegovina,RO,True,BA,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+04
102,Romania,False,Moldova (the Republic of),RO,True,MD,E7000,GWH,0.0,0.0,...,595000.0,83000.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,5.159000e+06
103,Romania,False,Republic of North Macedonia,RO,True,MK,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.400000e+05
104,Romania,False,Russian Federation (the),RO,True,RU,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.630000e+05
105,Romania,False,Serbia,RO,True,RS,E7000,GWH,0.0,0.0,...,67000.0,669000.0,542000.0,447000.0,1286000.0,768672.0,6.927930e+05,1.569042e+06,2.695808e+06,1.247132e+07
106,Romania,False,Switzerland,RO,True,CH,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.714800e+04,1.493330e+05,4.037310e+05,1.070212e+06
107,Romania,False,Ukraine,RO,True,UA,E7000,GWH,0.0,0.0,...,524000.0,64000.0,122000.0,172000.0,29000.0,473077.0,7.331500e+04,5.010610e+05,5.838480e+05,5.393301e+06
115,Slovakia,False,Ukraine,SK,True,UA,E7000,GWH,0.0,0.0,...,56000.0,173000.0,62000.0,64000.0,64000.0,9000.0,1.700000e+05,3.000000e+04,9.300000e+04,9.433000e+06
119,Slovenia,False,Bosnia and Herzegovina,SI,True,BA,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,7.630000e+05
120,Slovenia,False,Republic of North Macedonia,SI,True,MK,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+04
121,Slovenia,False,Serbia,SI,True,RS,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+04
122,Slovenia,False,Switzerland,SI,True,CH,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.240000e+06
128,Spain,False,Andorra,ES,True,AD,E7000,GWH,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,1.500000e-02,1.600000e-02,3.100000e-02
129,Spain,False,Morocco,ES,True,MA,E7000,GWH,0.0,0.0,...,5000.0,1000.0,2000.0,14000.0,8000.0,8000.0,1.800000e+05,1.207714e+06,4.097560e+05,2.153470e+06
132,Sweden,False,Norway,SE,True,NO,E7000,GWH,12330000.0,4748000.0,...,9955000.0,6904000.0,9856000.0,7222000.0,9118000.0,9091000.0,8.183000e+06,5.180000e+06,9.685000e+06,2.242620e+08

In [64]:
for key, item in EU_imports_pivot:
    Group=EU_imports_pivot.get_group(key)
print(Group)

     Alpha_2_code Country   EU? partner Partner_country  Partner_EU   siec  \
3399           SE  Sweden  True      PL          Poland        True  E7000

     unit  1990  1991  ...      2012      2013      2014     2015      2016  \
3399  GWH   0.0   0.0  ...  129000.0  762000.0  107000.0  20000.0  175000.0

          2017      2018      2019     2020       TOTAL
3399  150000.0  375000.0  188000.0  12000.0  11262000.0

[1 rows x 40 columns]

In [65]:
EU_imports_pivot.index

AttributeError: 'DataFrameGroupBy' object has no attribute 'index'

In [58]:
EU_imports_pivot[EU_imports_pivot['Partner_EU']==True]

KeyError: 'Column not found: False'