In [2]:
import pandas as pd

In [3]:
production = pd.read_csv('../raw_data/GrossNetElecProd.csv', encoding = 'unicode_escape')
production.head()

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,A,CHP,PRR_AUTO,GEP,CF,GWH,AL,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,A,CHP,PRR_AUTO,GEP,CF,GWH,AT,3025000,3888000,4037000,...,5209027,4690911,4453396,4067491,4142426,4331098,4536887,4108578,4170416,4037880
2,A,CHP,PRR_AUTO,GEP,CF,GWH,BA,:,:,:,...,:,:,:,0.000,0.000,0.000,0.000,0.000,0.000,29000
3,A,CHP,PRR_AUTO,GEP,CF,GWH,BE,0.000,0.000,0.000,...,5441300,6023200,6161500,6429000,6476100,6820600,7589700,7728100,9114800,9366900
4,A,CHP,PRR_AUTO,GEP,CF,GWH,BG,3882000,2995000,3708000,...,124000,255000,251000,233000,360000,399000,583165,637454,636997,650121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14185,A,TOTAL,TOTAL,NHP,X9900H,TJ,SK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
14186,A,TOTAL,TOTAL,NHP,X9900H,TJ,TR,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
14187,A,TOTAL,TOTAL,NHP,X9900H,TJ,UA,0.000,0.000,0.000,...,0.000,0.000,41892000,31200000,23894000,25082000,22833000,22341500,27865000,2300000
14188,A,TOTAL,TOTAL,NHP,X9900H,TJ,UK,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,:
14189,A,TOTAL,TOTAL,NHP,X9900H,TJ,XK,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [7]:
production.describe()

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,14190,14190,14190,14190,14190,14190,14190,14190,14190,14190,...,14190,14190,14190,14190,14190,14190,14190,14190,14190,14190
unique,1,4,3,4,13,2,43,1237,1254,1330,...,2093,2121,2140,2199,2255,2282,2413,2436,2445,2363
top,A,TOTAL,PRR_AUTO,GEP,CF,GWH,AL,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
freq,14190,5074,4816,3741,1548,7482,330,9066,9048,8942,...,8331,8290,8556,9062,9027,8947,8890,8831,8815,8630

In [6]:
EU_countries = pd.DataFrame.from_dict([{'Belgium': 'BE', 'Bulgaria': 'BG', 'Czechia': 'CZ', 'Denmark': 'DK', 'Germany': 'DE', 'Estonia': 'EE', 'Ireland': 'IE', 'Greece': 'EL',
                'Spain': 'ES', 'France': 'FR', 'Croatia': 'HR', 'Italy': 'IT', 'Cyprus': 'CY', 'Latvia': 'LV', 'Lithuania': 'LT', 'Luxembourg': 'LU', 
                'Hungary': 'HU', 'Malta': 'MT', 'Netherlands': 'NL', 'Austria': 'AT', 'Poland': 'PL', 'Portugal': 'PT', 'Romania': 'RO', 'Slovenia': 'SI',
                'Slovakia': 'SK', 'Finland': 'FI', 'Sweden': 'SE'}])
EU_countries = EU_countries.T.reset_index()
EU_countries.rename(columns={'index': 'EU_country', 0: 'Alpha_2_code'}, inplace=True)
EU_countries.head(2)

  EU_country Alpha_2_code
0    Belgium           BE
1   Bulgaria           BG

In [19]:
EU_countries.EU_country.nunique()

27

In [12]:
production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14190 entries, 0 to 14189
Data columns (total 38 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   freq          14190 non-null  object
 1   plants        14190 non-null  object
 2   operator      14190 non-null  object
 3   nrg_bal       14190 non-null  object
 4   siec          14190 non-null  object
 5   unit          14190 non-null  object
 6   Alpha_2_code  14190 non-null  object
 7   1990          14190 non-null  object
 8   1991          14190 non-null  object
 9   1992          14190 non-null  object
 10  1993          14190 non-null  object
 11  1994          14190 non-null  object
 12  1995          14190 non-null  object
 13  1996          14190 non-null  object
 14  1997          14190 non-null  object
 15  1998          14190 non-null  object
 16  1999          14190 non-null  object
 17  2000          14190 non-null  object
 18  2001          14190 non-null  object
 19  2002          14190 non-null  object
 20  2003          14190 non-null  object
 21  2004          14190 non-null  object
 22  2005          14190 non-null  object
 23  2006          14190 non-null  object
 24  2007          14190 non-null  object
 25  2008          14190 non-null  object
 26  2009          14190 non-null  object
 27  2010          14190 non-null  object
 28  2011          14190 non-null  object
 29  2012          14190 non-null  object
 30  2013          14190 non-null  object
 31  2014          14190 non-null  object
 32  2015          14190 non-null  object
 33  2016          14190 non-null  object
 34  2017          14190 non-null  object
 35  2018          14190 non-null  object
 36  2019          14190 non-null  object
 37  2020          14190 non-null  object
dtypes: object(38)
memory usage: 4.1+ MB

In [17]:
production.Alpha_2_code.unique()

array(['AL', 'AT', 'BA', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EA19', 'EE',
       'EL', 'ES', 'EU27_2020', 'FI', 'FR', 'GE', 'HR', 'HU', 'IE', 'IS',
       'IT', 'LI', 'LT', 'LU', 'LV', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO',
       'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UA', 'UK', 'XK'],
      dtype=object)

In [16]:
production.Alpha_2_code.nunique()

43

In [20]:
countries = pd.read_csv('../raw_data/countries_codes_and_coordinates.csv', encoding = 'unicode_escape')
countries.head()

          Country Alpha_2_code Alpha_3_code
0     Afghanistan           AF          AFG
1         Albania           AL          ALB
2         Algeria           DZ          DZA
3  American Samoa           AS          ASM
4         Andorra           AD          AND

In [21]:
countries.Country.nunique()

244

In [23]:
production = production.merge(countries, on='Alpha_2_code', how='left')
production['EU?'] = production['Alpha_2_code'].isin(EU_countries['Alpha_2_code'])
production.head()

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,1990,1991,1992,...,2016,2017,2018,2019,2020,Country_x,Alpha_3_code_x,EU?,Country_y,Alpha_3_code_y
0,A,CHP,PRR_AUTO,GEP,CF,GWH,AL,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,Albania,ALB,False,Albania,ALB
1,A,CHP,PRR_AUTO,GEP,CF,GWH,AT,3025000,3888000,4037000,...,4331098,4536887,4108578,4170416,4037880,Austria,AUT,True,Austria,AUT
2,A,CHP,PRR_AUTO,GEP,CF,GWH,BA,:,:,:,...,0.000,0.000,0.000,0.000,29000,Bosnia and Herzegovina,BIH,False,Bosnia and Herzegovina,BIH
3,A,CHP,PRR_AUTO,GEP,CF,GWH,BE,0.000,0.000,0.000,...,6820600,7589700,7728100,9114800,9366900,Belgium,BEL,True,Belgium,BEL
4,A,CHP,PRR_AUTO,GEP,CF,GWH,BG,3882000,2995000,3708000,...,399000,583165,637454,636997,650121,Bulgaria,BGR,True,Bulgaria,BGR

In [25]:
print("a lot more work to do")

a lot more work to do