In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets

In [2]:
import importlib
import os
os.chdir('/Users/pratimas/code/SinanSeyhan/green-electricity-project')
# trainer_module = importlib.import_module("green-electricity-project.trainer", package=True).Trainer()
production_module = importlib.import_module("green-electricity-project.production_viz", package=True)

In [3]:
production = production_module.EuElecProduction('raw_data/Production_Cleaned.csv')

In [4]:
production.get_data()

In [5]:
EU_production_annual = production.EU_production_annual()
EU_production_annual.head()

,freq,plants,operator,nrg_bal,siec,unit,Alpha_2_code,EU?,1990,1991,...,2014,2015,2016,2017,2018,2019,2020,Country,Alpha_3_code,Numeric
12815,A,TOTAL,TOTAL,GEP,TOTAL,GWH,AT,True,50294000,51483000,...,65438872,65299423,68308186,71324414,68617889,74234304,72566304,Austria,AUT,40.0
12817,A,TOTAL,TOTAL,GEP,TOTAL,GWH,BE,True,70923000,71936000,...,72545300,69708200,85607500,86616300,75036800,93639800,89389000,Belgium,BEL,56.0
12818,A,TOTAL,TOTAL,GEP,TOTAL,GWH,BG,True,42141000,40862000,...,47485000,49228000,45277000,45612786,46837670,44301773,40766577,Bulgaria,BGR,100.0
12819,A,TOTAL,TOTAL,GEP,TOTAL,GWH,CY,True,1974000,2077000,...,4350440,4534516,4887638,5004365,5060567,5141491,4849201,Cyprus,CYP,196.0
12820,A,TOTAL,TOTAL,GEP,TOTAL,GWH,CZ,True,62559000,60528000,...,86148000,83892000,83309000,87050264,88032022,87030605,81517186,Czechia,CZE,203.0

In [6]:
EU_Total_Elec_nrg_bal = production.EU_Total_Elec_nrg_bal()
EU_Total_Elec_nrg_bal

,EU?,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,Numeric_x,Numeric_y
nrg_bal,,,,,,,,,,,,,,,,,,,,,
GEP,27,2275281947,2316881435,2303092577,2303270775,2340447875,2409566590,2495065526,2506432756,2560071021,...,2920967479,2861344080,2906580318,2928142407,2960918324,2943002100,2907181919,2786007913,10469.0,10469.0
NEP,27,2132426596,2173244121,2164366067,2166376328,2201616751,2268070468,2349735060,2363865428,2416847448,...,2774246611,2716847701,2760960106,2784039893,2814920542,2802323762,2776012131,2664236011,10469.0,10469.0

In [7]:
EU_Total_NEP = production.EU_Total_NEP()
EU_Total_NEP

AttributeError: 'EuElecProduction' object has no attribute 'EU_production_annual_nrg_bal'